.title{
    color: black;
    font-size: 30px;
   
}
.posts{
    list-style: none;
    width: 500px;
    margin:1em auto;
}
.posts li{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.Commentsh1{
    font-size: 20px;
    color: black;
}
.divComment{
    width: auto;
    height: 100px;
    background-color: blue;
}
